.canvas__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #a7a7a7;
  position: relative;
}

.canvas__background {
  background: url("../../assets/resources/img/canvasBackground.png") repeat;
  width: 100%;
  max-width: 512px;
  max-height: 512px;
}

.canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}
