.frames__newWindow{
  width: 105px;
  margin-top: 10px;
  padding: 5px 10px;
  color: #888888;
  border: 3px solid #888888;
  border-radius: 3px;
  font-size: 0.8rem;
  text-align: right;
  position: relative;
  outline: 0;
  cursor: crosshair;

  &:after{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 100px;
    bottom: 1px;
    content: '';
    background: url('../../../../assets/resources/img/icons.png') no-repeat -276px -160px;
  }
}
